# Medium tests too large to include in Git
# Use the scripts in gen/ to generate these
test/matrices/medium/multiply/*
!test/matrices/medium/multiply/README.md

# CLion
.idea/

# CMake temporaries
cmake-build-*/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
gen/env/
*.pyc

# macOS
.DS_Store